<html>
 <head>
   <title>Desafio 01 GoNode</title>
 </head>
 <body>
    <form action="/check" method="POST">
        <input type="text" name="nome"/>
        <input type="date" name="dataNascimento"/>
        <button type="submit">Enviar</button>
    </form>
 </body>
</html>